<h1>GET Request Received</h1>
</br>
<table>
    <tr>
        <th>Name</th>
        <th>Value</th>
    </tr>

    {{#each params}}
        <tr>
            <td>
                {{this.name}}
            </td>
            <td>
                {{this.value}}
            </td>
        </tr>
    {{/each}}
</table>