<h1>GET Request Received</h1>
</br>
<table>
    <tr>
        <th>Name</th>
        <th>Value</th>
    </tr>

    <tr>
        {{#each dataList}}
            <td>{{this.name}}</td>
            <td>{{this.value}}</td>
        {{/each}}
    </tr>
</table>